@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p, a{
    font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
}
/* --------------NAVBAR------------------------------ */
.ukraine{
    background-color: black;
    padding: 15px;
    /* font-size: 17px; */
}
.ukraine a:hover{
    color: white;
    text-decoration: none;
}
.ukraine span{
    color: white!important;
}
.welcome-info{
    display: flex;
    justify-content: space-between;
}
.welcome-info a{
    color: black;
    text-decoration: underline;
}

/* -----------------------------------------FOOTER----------------------------------------------------- */
.close-block a{
    color: black;
    text-decoration: none!important;
}
.close-block a:hover{
    color: #8e8e8e;
}
.close-block img{
    height: 30px;
    width: 30px;
}
.socials{
    display: inline-block;
}
.footer-info a{
    color: black!important;
}
.footer-info a:hover{
    color: black!important;
    text-decoration: underline!important;
}
.navigation{
    background-color: white;
}
.submitproj-btn{
    background-color: #49c5b6;
    color: #fff;
    font-weight: bold;
    /* height: 35px; */
    margin-top: 10px;
    width: 100%;
    border: none;
    text-align: center;
    padding: 1vw;
}
.submitproj-btn:hover{
    opacity: 0.8;
}
.anime{
    overflow: hidden;
}
.anime img{
    width: auto;
    height: 300;
    transition: all 2s ease-in-out;
}
.anime:hover img{
    transform: scale(2,2);
    cursor: pointer;
}
.updates{
    align-content: center;
    align-items: center;
}





