*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* --------------NAVBAR------------------------------ */
.ukraine{
    background-color: black;
    padding: 15px;
    /* font-size: 2.5vw; */
}
.ukraine a:hover{
    color: white;
    text-decoration: none;
}
.ukraine span{
    color: white!important;
}
.welcome-info{
    display: flex;
    justify-content: space-between;
}
.welcome-info a{
    color: black;
    text-decoration: underline;
}
.welcome-info a:hover{
    color: #8e8e8e;
}
/* -----------------------------------------FOOTER----------------------------------------------------- */
.close-block a{
    color: black;
    text-decoration: none!important;
}
.close-block a:hover{
    color: #8e8e8e;
}
.close-block img{
    height: 30px;
    width: 30px;
}
.socials{
    display: inline-block;
}
.footer-info a{
    color: black!important;
}
.footer-info a:hover{
    color: black!important;
    text-decoration: underline!important;
}




