{% extends 'registration/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}

<div class="login">
    <div class="col-sm-6">
        <img src="{% static 'images/login_img.jpg'%}" class="img-fluid img-thumbnail">
    </div>
    <div class="col-sm-6 general-form">
        <h4 class="text-center"><a href="/" class="login-info">WELCOME TO AWWWARDS</a></h4>
        <div class="row">
            <div class="col-sm-6">
                <p class="alternative">Sign in to continue</p>
            </div>
            <div class="col-sm-6">
                <p class="alternative">Not a member yet?<span><a href="/accounts/register/" class="register">Register now</a></span></p>
            </div>
        </div>
        <div class="form">
            <form action="/accounts/login/" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="input-check">
                    <input id="remember_me" name="_remember_me" type="checkbox">&nbsp;<label for="remember_me">Keep me logged in</label>
                </div>
                <button class="login-btn" type="submit">LOGIN NOW</button>
                <div class="text-center forgot-pass">
                    <a href="#">Forgot your password</a>
                </div>
                <p class="alternative">Or sign in with</p>
                <div class="login_btns">
                    <div class="row">
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-primary btn-block" id="google"><img src="{% static 'images/google.png' %}" alt="logo" class="fb-logo">&nbsp;&nbsp;<strong>Google</strong></button>
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-primary btn-block" id="twitter"><img src="{% static 'images/twitter.png' %}" class="fb-logo" alt="logo">&nbsp;&nbsp;<strong>Twitter</strong></button>
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-primary btn-block" id="facebook"><img src="{% static 'images/facebook.png' %}" alt="logo" class="fb-logo">&nbsp;&nbsp;<strong>Facebook</strong></button>
                        </div>
                    </div>
                </div>
                <p class="text-center terms">&#169;2022 Awwwards. All rights reserved.<br>By signing up, I agree to Awwwards's<br><a href="#" class="conditions">Terms of service</a>
                </p>
            </form>
            
        </div>
    </div>
</div>

{% endblock %}
