{% load static %}
<hr>
<div class="container-fluid close-block mt-4">
    <a href="#">Contact Us</a>&nbsp;&nbsp;&nbsp;
    <a href="#">F.A.Q</a>&nbsp;&nbsp;&nbsp;
    <a href="#">Cookies Policy</a>&nbsp;&nbsp;&nbsp;
    <a href="#">Legal Terms</a>&nbsp;&nbsp;&nbsp;
    <a href="#">Privacy Policy</a>&nbsp;&nbsp;&nbsp;
    <a href="#">English</a>&nbsp;<span><img src="{% static 'images/great-britain.png'%}"></span>&nbsp;&nbsp;&nbsp;
    <a href="#" class="float-right">Private Cloud Stackscale</a>
</div>