{% load static %}
<hr>
<div class="container-fluid p-5 row close-block">
    <div class="col-sm-8">
        <h5 class="mb-4">The awards for design, creativity and innovation on the Internet.</h5>
        <div>
            <a href="#"><strong>Web Design Courses</strong></a>&nbsp;&nbsp;&nbsp;
            <a href="#"><strong>Directory</strong></a>&nbsp;&nbsp;&nbsp;
            <a href="#"><strong>Jobs</strong></a>&nbsp;&nbsp;&nbsp;
            <a href="#"><strong>About Us</strong></a>&nbsp;&nbsp;&nbsp;
            <a href="#"><strong>Winners</strong></a>&nbsp;&nbsp;&nbsp;
            <a href="#"><strong>Nominees</strong></a>&nbsp;&nbsp;&nbsp;
            <a href="#"><strong>Blog</strong></a>&nbsp;&nbsp;&nbsp;
        </div>
        <div class="socials mt-3">
            <a href="#"><strong>Follow Us</strong></a>&nbsp;&nbsp;&nbsp;
            <a href="#">Twitter</a>&nbsp;&nbsp;&nbsp;
            <a href="#">Facebook</a>&nbsp;&nbsp;&nbsp;
            <a href="#">Youtube</a>&nbsp;&nbsp;&nbsp;
            <a href="#">Instagram</a>&nbsp;&nbsp;&nbsp;
            <a href="#">Linkedin</a>&nbsp;&nbsp;&nbsp;
            <a href="#">Pinterest</a>&nbsp;&nbsp;&nbsp;
        </div>
    </div>
    <div class="col-sm-4 footer-info">
        <span class="footer-info">
            <h5>Next Conferences</h5>&nbsp;&nbsp;
            <span>
                <img src="{% static 'images/calendar.png'%}">
                <a href="#"><strong>Nairobi</strong></a>&nbsp;and
                <a href="#"><strong>Amsterdam</strong></a>
            </span>
        </span>
        
    </div>
</div>
<div class="container-fluid close-block mt-4">
    <a href="#">Contact Us</a>&nbsp;&nbsp;&nbsp;
    <a href="#">F.A.Q</a>&nbsp;&nbsp;&nbsp;
    <a href="#">Cookies Policy</a>&nbsp;&nbsp;&nbsp;
    <a href="#">Legal Terms</a>&nbsp;&nbsp;&nbsp;
    <a href="#">Privacy Policy</a>&nbsp;&nbsp;&nbsp;
    <a href="#">English</a>&nbsp;<span><img src="{% static 'images/great-britain.png'%}"></span>&nbsp;&nbsp;&nbsp;
    <a href="#" class="float-right">Private Cloud Stackscale</a>
</div>