{%  load static%}
<div class=" text-center ukraine">
    <a href="https://www.savethechildren.org/us/where-we-work/ukraine" rel="nofollow" target="_blank" class="box-ukraine">
        <span>#StopWarInUkraine</span>
        <svg viewBox="0 0 512 512" width="20" height="20"><rect fill="#2a75e6" height="352" rx="10" width="496" x="8" y="80"></rect><path d="M8,256H504a0,0,0,0,1,0,0V422a10,10,0,0,1-10,10H18A10,10,0,0,1,8,422V256a0,0,0,0,1,0,0Z" fill="#f9d549"></path></svg>
        <span>Save the children</span>
    </a>
</div>
